body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100vw;
}

.myCanvas {
    cursor: pointer;
    transition: 0.4s;
    width: 100vw;
    overflow: hidden;
    }
@media  (max-width: 600px) {
   .container{
    width: 80vw;
    margin-left: -15px;
   }
   .myCanvas{
    width: 100vw;
    height: 70vh;
   }
}
